.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.title {
  font-size: 60px;
}

.post {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.image {
  object-fit: cover;
}
.imgContainer {
  flex: 1;
  height: 500px;
  background: gray;
}
