.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}

.title {
  font-size: 60px;
}

.post {
  margin-top: 60px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.image {
  object-fit: cover;
}
.imgContainer {
  flex: 1;
  height: 300px;
  background: gray;
  width: 300px;
}

.postdescription {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--softTextColor);
}

.textContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postTitle {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
  background-color: var(--softTextColor);
}
